fontColor = #999
bgColor = #f0f0f3
activeColor = #00c98d // 按钮激活时的颜色
themeColor = #00c98d // 主题色
wjColor = #00c98d // 完结标签的颜色
wjBorderColor = rgba(0,201,141,.3) //完结标签的边框颜色
lzColor = #499fff  // 连载标签的颜色
lzBorderColor = rgba(73,159,255,.3) // 连载标签边框颜色
errorColor = #F30033 // 错误信息颜色